<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel" version="12.1.3.12.18" id="springboardPageDef"
                Package="Springboard">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <iterator Binds="root" RangeSize="25" DataControl="ApplicationFeatures" id="ApplicationFeaturesIterator"/>
    <accessorIterator MasterBinding="ApplicationFeaturesIterator" Binds="features" RangeSize="25"
                      DataControl="ApplicationFeatures" BeanClass="oracle.adfmf.framework.FeatureInformation"
                      id="featuresIterator"/>
    <accessorIterator MasterBinding="ApplicationFeaturesIterator" Binds="applicationInformation" RangeSize="25"
                      DataControl="ApplicationFeatures" BeanClass="oracle.adfmf.framework.ApplicationInformation"
                      id="applicationInformationIterator"/>
  </executables>
  <bindings>
    <methodAction id="gotoFeature" RequiresUpdateModel="true" Action="invokeMethod" MethodName="gotoFeature"
                  IsViewObjectMethod="false" DataControl="ApplicationFeatures"
                  InstanceName="data.ApplicationFeatures.dataProvider">
      <NamedData NDName="featureId" NDValue="#{pageFlowScope.currentFeature}" NDType="java.lang.String"/>
    </methodAction>
    <tree IterBinding="featuresIterator" id="features">
      <nodeDefinition DefName="oracle.adfmf.framework.FeatureInformation" Name="features0">
        <AttrNames>
          <Item Value="name"/>
          <Item Value="id"/>
        </AttrNames>
      </nodeDefinition>
    </tree>
    <attributeValues IterBinding="applicationInformationIterator" id="name">
      <AttrNames>
        <Item Value="name"/>
      </AttrNames>
    </attributeValues>
  </bindings>
</pageDefinition>
