/* Header font style */
.amx-panelPage-facet-header > .amx-outputText{
    color: white;
    font-weight: bold;
    font-size: large;
}


/* Header background color */
.amx-panelPage-facet-header{
 background-color:  Green;
}

